{% extends '@CooolinhoUi/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/cooolinhoui/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/cooolinhoui/lib/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/cooolinhoui/css/login.css') }}">
{% endblock %}

{% block head_javascripts %}
    <script src="{{ asset('bundles/cooolinhoui/lib/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/cooolinhoui/lib/jquery.min.js') }}"></script>
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">

                <div class="card-header">
                    {% block login_header %}
                        <h3>
                            {% block login_title %}Sign In{% endblock %}
                        </h3>
                        <div class="d-flex justify-content-end social_icon">
                            <a href="https://github.com/cooolino" target="_blank">
                                <span><i class="fab fa-github-square"></i></span>
                            </a>
                        </div>
                    {% endblock %}
                </div>

                <div class="card-body">
                    {% block login_body %}

                        {% block login_body_top %}
                            {% if error != '' %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endif %}
                        {% endblock %}

                        {{ form_start(form) }}
{#                        <input type="hidden" name="login_form[_csrf_token]" value="{{ csrf_token('authenticate') }}">#}

{#                        {{ form_widget(form._csrf_token) }}#}

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>

                            {% block login_form_email %}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-Mail', 'name': 'email'}}) }}
                            {% endblock %}
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>

                            {% block login_form_password %}
                                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password', 'name': 'password'}}) }}
                            {% endblock %}
                        </div>

                        {% block login_form_password_after %}{% endblock %}

                        <div class="row align-items-center remember">
                            {% block login_form_remember_me %}
                                {{ form_widget(form._remember_me) }}Remember Me
                            {% endblock %}
                        </div>

                        <div class="form-group">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn float-right login_btn'}}) }}
                        </div>

{#                        {% do form._token.setRendered %}#}
                        {{ form_end(form) }}
                    {% endblock %}
                </div>

                {% block login_footer %}
                    <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                Don't have an account?<a href="{{ path('app_register') }}">Sign Up</a>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="{{ path('app_forgot_password_request') }}">Forgot your password?</a>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="mt-5 mb-3 text-muted">© {{ 'now'|date('Y') }}</p>
                            </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
